{% extends "layout.njk" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageName = "Spracúvanie súborov cookies na webovej stránke idsk2.gov.sk" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
    { text: 'ID-SK frontend', href: '/' + legacyQuery },
    { text: pageName }
    ]
  }) }}
{% endblock %}  

{% block content %}
  <div class="govuk-width-container">

    <h1 class="govuk-heading-xl">{{pageName}}</h1>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">Informácie pre dotknutú osobu pri získaní osobných údajov </p>
            <p class="govuk-body">Podľa čl. 13 a čl. 14 nariadenia Európskeho parlamentu a Rady (EÚ) č. 2016/679 z 27. apríla 2016 o ochrane fyzických osôb pri spracúvaní osobných údajov a o voľnom pohybe takých údajov, ktorým sa zrušuje smernica 95/46/ES (všeobecné nariadenie o ochrane údajov) (ďalej len „GDPR“) Ministerstvo investícií, regionálneho rozvoja a informatizácie Slovenskej republiky (ďalej ako „ministerstvo“, „MIRRI SR“ alebo „prevádzkovateľ”) ako subjekt, ktorý spracováva osobné údaje dotknutej osoby, poskytuje dotknutej osobe nasledovné informácie:</p>

            <h2 class="govuk-heading-m">1. Identifikačné a kontaktné údaje prevádzkovateľa</h2>
            <p class="govuk-body">Ministerstvo investícií, regionálneho rozvoja a informatizácie Slovenskej republiky, Pribinova 25, 811 09 Bratislava, IČO: 50349287</p>

            <h2 class="govuk-heading-m">2. Zodpovedná osoba pre oblasť osobných údajov MIRRI SR</h2>
            <p class="govuk-body">telefón: +421 2/2092 8425, <a rel="noreferrer noopener" href="mailto:zodpovedna.osoba@mirri.gov.sk" target="_blank">zodpovedna.osoba@mirri.gov.sk</a></p>

            <h2 class="govuk-heading-m">3. Názov spracúvania</h2>
            <p class="govuk-body">Spracúvanie cookies na webovej stránke <a rel="noreferrer noopener" href="https://idsk2.gov.sk" target="_blank">idsk2.gov.sk</a>.</p>

            <h2 class="govuk-heading-m">4. Čo sú to cookies?</h2>
            <p class="govuk-body">Aby sme Vám mohli poskytnúť prístup k tejto webovej stránke a k službám prispôsobeným Vašim potrebám, potrebujeme poznať a uchovávať informácie o tom, akým spôsobom používate túto webovú stránku.</p>
            <p class="govuk-body">To dosiahneme pomocou malých textových súborov, tzv. cookies. Cookies obsahujú malé množstvo informácií a sú sťahované prostredníctvom serveru tejto webovej stránky do Vášho počítača, laptopu alebo iného zariadenia. Váš internetový prehliadač potom zašle súbory cookies späť tejto webovej stránke pri každej ďalšej návšteve, vďaka čomu Vás táto webová stránka rozpozná a nájde informácie napr. o vašich používateľských preferenciách (navštívené stránky, kliknutia, história aktivít).</p>
            <p class="govuk-body">Kedykoľvek navštívite túto webovú stránku, môže dochádzať k zhromažďovaniu informácií prostredníctvom súborov cookies alebo iných technológií (informácie o jazyku, krajine a predtým nastavených stránkach).</p>
            <p class="govuk-body">Cookies sú odosielané našej webovej stránke (naše vlastné cookies) alebo sú odoslané inej webovej stránke, ktorá tieto cookies spracúva (cookies tretích strán). V prípade, ak webovú stránku idsk.gov.sk navštívite z iného zariadenia ako zo zariadenia, na ktorom ste si už vlastné preferencie cookies nastavili alebo v prípade, ak nastane zmena v našom procese spracúvania cookies alebo ak uplynie doba, po ktorú sme Vaše preferencie cookies uchovávali, opätovne Vás požiadame o nastavenie cookies na našej webovej stránke.</p>
            <p class="govuk-body">MIRRI SR aktuálne spracúva vlastné nevyhnutné cookies a analytické cookies spoločnosti Google LLC.</p>

            <h2 class="govuk-heading-m">5. Rozsah spracúvaných osobných údajov</h2>
            <p class="govuk-body">Z pohľadu GDPR sú niektoré cookies zároveň považované za osobné údaje. Cookies sú osobnými údajmi vtedy, ak je na základe cookies možné identifikovať Vás ako konkrétnu osobu.</strong></p>

            <h3 class="govuk-heading-s">5.1	Ministerstvo spracúva nasledujúce nevyhnutné cookies</h3>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Názov</th>
                        <th scope="col" class="govuk-table__header">Doba uchovávania</th>
                        <th scope="col" class="govuk-table__header">Účel spracúvania</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">TS#</td>
                        <td class="govuk-table__cell">Po skončení relácie (zavretí webovej stránky) sa neuchováva.</td>
                        <td class="govuk-table__cell">Zvyšuje bezpečnosť webovej stránky. Je to tiež relačný súbor cookies.</td>
                    </tr>
                </tbody>
                </table>

            <h4 class="govuk-heading-s">5.2	Ministerstvo spracúva nasledujúce analytické cookies</h4>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Názov</th>
                        <th scope="col" class="govuk-table__header">Doba uchovávania</th>
                        <th scope="col" class="govuk-table__header">Účel spracúvania</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">_ga</td>
                        <td class="govuk-table__cell">Doba uchovávania závisí od podmienok spracúvania cookies spoločnosťou Google – <a rel="noreferrer noopener" href="https://policies.google.com/technologies/cookies" target="_blank">How Google uses cookies – Privacy & Terms</a></td>
                        <td class="govuk-table__cell">Rozlíšenie používateľov a ich jedinečných návštev, obsahuje náhodne vygenerované číslo - unikátny klientsky identifikátor (Client ID), ktorý sa vytvára pri každej návšteve stránky.</td>
                    </tr>
                </tbody>
                </table>

            <h2 class="govuk-heading-m">6. Kategórie osobných údajov</h2>
            <p class="govuk-body">Ministerstvo nespracúva osobné údaje osobitnej kategórie, údaje o trestných činoch a priestupkoch.</p>

            <h2 class="govuk-heading-m">7. Kategórie dotknutých osôb</h2>
            <p class="govuk-body">Dotknutými osobami sú fyzické osoby – návštevníci, používatelia webovej stránky <a rel="noreferrer noopener" href="https://idsk2.gov.sk" target="_blank">idsk2.gov.sk</a>.</p>

            <h2 class="govuk-heading-m">8. Účel spracúvania osobných údajov</h2>
            <p class="govuk-body">Účelom spracúvania osobných údajov je poskytovať používateľom webovej stránky služby informačnej spoločnosti, zabezpečiť plynulú a bezpečnú prevádzku webovej stránky, zlepšovať používateľskú skúsenosť a zlepšovať spôsob, ako zacieliť na vhodné publikum.</p>
            <p class="govuk-body">Účelom spracúvania <strong>nevyhnutných cookies</strong> je umožniť používateľom to, aby mohli túto webovú stránku prezerať a využívať jej funkcie. Tieto súbory cookies neukladajú žiadne informácie o používateľoch, ktoré by sa dali použiť na marketing alebo na zapamätanie si, čo si používatelia na internete pozerali.</p>
            <p class="govuk-body">Účelom spracúvania <strong>analytických cookies</strong> je realizovať analýzu spôsobu používania webovej stránky používateľom, vytvárať reporty o návštevnosti webovej stránky, o počte návštevníkov webovej stránky, o počte interakcií či najnavštevovanejších častiach webovej stránky. Tieto súbory cookies zbierajú informácie o tom, či sa používateľom zobrazili chybové hlásenia. Nezbierajú informácie, na základe ktorých by bolo možné zistiť totožnosť používateľov. Všetko informácie sú anonymné. Používajú sa na zlepšenie funkčnosti webových stránok.</p>

            <h2 class="govuk-heading-m">9.	Právny základ spracúvania</h2>
            <p class="govuk-body">Právnym základom pre spracúvanie nevyhnutných cookies je <strong>zákonná povinnosť prevádzkovateľa</strong> v zmysle čl. 6 ods. 1 písm. c) GDPR: <em>„spracúvanie je nevyhnutné na splnenie zákonnej povinnosti prevádzkovateľa“</em>. Zákonná povinnosť vyplýva ministerstvu zo zákona č. 452/2021 Z. z. o elektronických komunikáciách v znení neskorších predpisov.</p>
            <p class="govuk-body">Právnym základom pre spracúvanie analytických cookies je <strong>súhlas dotknutej osoby</strong> v zmysle čl. 6 ods. 1 písm. a) GDPR: <em>„dotknutá osoba vyjadrila súhlas so spracúvaním svojich osobných údajov na jeden alebo viaceré konkrétne účely“</em>. Dotknutá osoba má právo kedykoľvek svoj súhlas odvolať, pričom jej osobné údaje budú v tomto prípade vymazané a nebude možné ich naďalej využívať.</p>

            <h2 class="govuk-heading-m">10.	Sprostredkovateľ, ktorý spracúva osobné údaje v mene prevádzkovateľa</h2>
            <p class="govuk-body">Ministerstvo nevyužíva žiadneho sprostredkovateľa.</p>

            <h2 class="govuk-heading-m">11.	Sub-sprostredkovateľ, ktorý spracúva osobné údaje v mene sprostredkovateľa</h2>
            <p class="govuk-body">Ministerstvo nevyužíva žiadneho sub-sprostredkovateľa.</p>

            <h2 class="govuk-heading-m">12.	Príjemcovia osobných údajov</h2>
            <p class="govuk-body">Webová stránka ministerstva poskytuje osobné údaje spoločnosti zabezpečujúcej správu webovej stránky a na analytické a marketingové účely spoločnosti Google LLC. Ministerstvo poskytuje osobné údaje aj subjektom, ktoré sú oprávnené vyžadovať si osobné údaje na základe osobitných predpisov aj keď sa tieto subjekty nepovažujú za príjemcov v zmysle GDPR.</p>

            <h2 class="govuk-heading-m">13.	Doba uchovávania osobných údajov</h2>
            <p class="govuk-body">Cookies sú ukladané od momentu získania maximálne po dobu 12 mesiacov alebo aj skôr, v prípade, ak sa zmenia okolnosti získavania alebo ukladania cookies (napr. ak ministerstvo nastaví úplne novú cookies lištu, ministerstvo zmení spôsob získavania alebo spracúvania cookies alebo ak používateľ zmaže všetky cookies vo svojom prehliadači).</p>

            <h2 class="govuk-heading-m">14.	Prenos osobných údajov do tretej krajiny</h2>
            <p class="govuk-body">Prevádzkovateľ analytického nástroja spracúva cookies, čím sa vykonáva aj prenos osobných údajov do tretích krajín. Konkrétne v prípade Google Analytics ide o prenos do Spojených štátov amerických (USA). Spracúvanie osobných údajov sa vykonáva na základe čl. 45 ods. 1 GDPR podľa rozhodnutia Európskej komisie 2023/1795: <a rel="noreferrer noopener" href="https://eur-lex.europa.eu/legal-content/SK/TXT/?uri=uriserv%3AOJ.L_.2023.231.01.0118.01.SLK&toc=OJ%3AL%3A2023%3A231%3ATOC" target="_blank">Rozhodnutie Komisie 2023/1795</a>.</p>

            <h2 class="govuk-heading-m">15.	Prenos osobných údajov medzinárodným organizáciám</h2>
            <p class="govuk-body">Nevykonáva sa.</p>

            <h2 class="govuk-heading-m">16.	Osobné údaje</h2>
            <p class="govuk-body">Osobné údaje <strong>nebudú použité</strong> na automatizované individuálne rozhodovanie vrátane profilovania.</p>

            <h2 class="govuk-heading-m">17. Práva dotknutej osoby</h2>
            <p class="govuk-body">V súlade s čl. 15 až 22 GDPR je dotknutá osoba oprávnená prostredníctvom žiadosti si uplatniť nasledovné <strong>práva dotknutej osoby:</strong></p>

            <ul class="govuk-list govuk-list--bullet">
                <li>právo na potvrdenie o spracúvaní osobných údajov,</li>
                <li>právo na získanie prístupu k osobným údajom, vrátane relevantných informácií týkajúcich sa ich spracúvania,</li>
                <li>právo na opravu nesprávnych a na doplnenie neúplných osobných údajov, ktoré sa jej týkajú,</li>
                <li>právo na vymazanie osobných údajov, ktoré sa jej týkajú,</li>
                <li>právo na obmedzenie spracúvania osobných údajov,</li>
                <li>právo na prenosnosť osobných údajov,</li>
                <li>právo namietať spracúvanie osobných údajov,</li>
                <li>právo na neuplatňovanie rozhodovania založeného výlučne na automatizovanom individuálnom rozhodovaní, vrátane profilovania.</li>
            </ul>

            <h2 class="govuk-heading-m">18. Výkon práv dotknutej osoby</h2>
            <p class="govuk-body">Dotknutá osoba je oprávnená podať žiadosť o výkon práv dotknutej osoby u prevádzkovateľa alebo u jeho zodpovednej osoby listom na adresu prevádzkovateľa, e-mailom na <a rel="noreferrer noopener" href="mailto:zodpovedna.osoba@mirri.gov.sk" target="_blank">zodpovedna.osoba@mirri.gov.sk</a> alebo osobne na podateľni prevádzkovateľa.</p>

            <h2 class="govuk-heading-m">19. Odvolanie súhlasu so spracúvaním osobných údajov</h2>
            <p class="govuk-body">Dotknutá osoba je oprávnená kedykoľvek svoj súhlas so spracúvaním osobných údajov odvolať:</p>
            <ul class="govuk-list govuk-list--number">
                <li>ak chcete odstrániť súbory cookies uložené vo Vašich zariadeniach, môžete to urobiť pomocou nastavení Vášho webového prehliadača. Obvykle je potrebné kliknúť na tlačidlo „Nastavenia“ a následne na tlačidlo „Súbory cookie a povolenia lokality“/„Ochrana súkromia a zabezpečenie“ a následne „Súbory cookie tretích strán“,</li>
                <li>v pätičke webovej stránky <a rel="noreferrer noopener" href="https://idsk2.gov.sk" target="_blank">idsk2.gov.sk</a> v časti Cookies, klikom na tlačidlo Cookies si viete cookies lištu kedykoľvek vyvolať a udeliť/odvolať súhlas so spracúvaním osobných údajov alebo nastaviť vlastné preferencie cookies.</li>
            </ul>

            <h2 class="govuk-heading-m">20. Informácia o zmluvnej alebo zákonnej požiadavke</h2>
            <p class="govuk-body">Poskytovanie nevyhnutných osobných údajov je zákonnou požiadavkou: vyplýva zo zákonnej povinnosti prevádzkovateľa podľa § 109 ods. 8 zákona č. 452/2021 Z. z. o elektronických komunikáciách v znení neskorších predpisov. V prípade neposkytnutia nevyhnutných osobných údajov nie je možné prehliadať webovú stránku <a rel="noreferrer noopener" href="https://idsk2.gov.sk" target="_blank">idsk2.gov.sk</a>.</p>

            <h2 class="govuk-heading-m">21. Začatie konania o ochrane osobných údajov</h2>
            <p class="govuk-body">Ak sa dotknutá osoba domnieva, že pri spracúvaní osobných údajov boli porušené jej práva, má právo podať návrh na začatie konania o ochrane osobných údajov <strong>Úradu na ochranu osobných údajov SR</strong> v súlade s ustanoveniami zákona č. 18/2018 Z. z. o ochrane osobných údajov a o zmene a doplnení niektorých zákonov v znení neskorších predpisov: <a rel="noreferrer noopener" href="https://dataprotection.gov.sk/sk/ine/vzory-formulare-stiahnutie/navrh-zacatie-konania-ochrane-osobnych-udajov/" target="_blank">Návrh na začatie konania o ochrane osobných údajov</a>.</p>
        </div>
    </div>

  </div>
{% endblock %}
